<form action="/square/results">
  <div>
    <label for="squaring">
      Enter a number
    </label>
  </div>
  <div>
    <input id="squaring" type="text" placeholder="What number do you want to square?" name="number"></input>
  </div>
  <div>
    <button>
      Calculate square
    </button>
  </div>
</form>
